/Pertemuan 2/ProgramKampus/build/
/Pertemuan 2/ProgramTokoPersewaan/nbproject/private/
/Pertemuan 2/ProgramTokoPersewaan/build/
/Pertemuan 2/ProyekBarang/nbproject/private/
/Pertemuan 2/ProgramBarang/nbproject/private/
/Pertemuan 2/ProgramBarang/build/
/Pertemuan 2/ProgramPacman/nbproject/private/
/Pertemuan 2/ProgramPacman/build/
/Pertemuan 2/ProgramJualBeliTanah/nbproject/private/
/Pertemuan 2/ProgramJualBeliTanah/build/
/Pertemuan 2/ProgramLuas/nbproject/private/
/Pertemuan 2/ProgramLuas/build/
/Pertemuan 3/JavaApplication33/nbproject/private/
/Pertemuan 3/AldoStruDat/nbproject/private/
/Pertemuan 3/AldoStruDat/build/
/Pertemuan 4/Pertemuan4/nbproject/private/
/Pertemuan 4/Pertemuan4/build/
/Kuis/KuisSatuSelaAuliaSiswanto/nbproject/private/
/Kuis/KuisSatuSelaAuliaSiswanto/build/